server :
  port : 8001

spring :
  datasource:
    url: jdbc:mysql://114.55.127.198:82/cookie?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: Newrank123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    database: 0
    host: 114.55.127.198
    port: 16379
    password: Newrank123456
    timeout: 0

  rabbitmq:
    host: 114.55.127.198
    username: admin
    password: cd123456
    port: 5670
    publisher-confirms: true    #消息发送到交换机确认机制，是否有回调
    publisher-returns: true     # 消息发送到交换机确认机制，是否返回回调
    listener:
      simple:
        acknowledge-mode: manual    # 采用手动应答
        concurrency: 1      # 指定最小消费者数量
        max-concurrency: 1    # 指定最大消费者数量
        retry:
          enabled: true     # 是否支持重试

logging:
  file: ./logs/run.log
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE
    com.itmuch.youran.persistence: ERROR